body {
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;
    margin-top: 0;
}

#container {
    width: 500px;
    height: 500px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 -3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* .grid {
    border: 1px solid black;
} */

.tool {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.size {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button {
    font-size: 15px;
    border-radius: 25px;
    margin: 5px;
    font-weight: 700;
    padding: 5px;
}

#black {
    background-color: black;
    color: #fff;
}

button:hover {
    background: blue;
    color: #fff;
}

input {
    border-radius: 25px;
    padding-left: 10px;
}

#random-btn {
    background: linear-gradient(0.25turn, #cc4506, #4010ee, #17a82a);
}

#random-btn:hover {
    background: linear-gradient(0.25turn, blue, green, red);
}